body {
    background-color: #000000;
}

.container {
    padding-top: 5%;
}

.nav-wrapper {
    background-color: #000000;
    font-family: "Orbitron";
}

.logo {
    height: 55px;
    padding-left: 6px;
    padding-top: 6px;
}

.mainPicture {
    position: relative;
}

.mainPicture:hover .overlay {
    opacity: 1;
}

.mainPicture:hover .circle {
    opacity: .25;
}

.circle {
    display: block;
    width: 100%;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
  }

.name, .cell, .email {
    color: white;
    font-size: 2vw;
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

h1, h2, h3 {
    color: #ffffff;
    font-family: "Orbitron";
    font-size: 2vw;
}

h1 {
    animation-delay: 1s;
}

h2 {
    animation-delay: 2s;
}

h3 {
    animation-delay: 3s;
}

.fa-github {
    animation-delay: 4s;
    padding: 1rem;
}

.fa-linkedin {
    animation-delay: 4.25s; 
    padding: 1rem;  
}

.fa-clipboard {
    animation-delay: 4.5s;
    padding: 1rem;
}