body {
    background-color: #000000;
}

.nav-wrapper {
    background-color: #000000;
    font-family: "Orbitron";
}

.logo {
    height: 55px;
    padding-left: 6px;
    padding-top: 6px;
}

.circle {
    width: 100%;
}

h1, h2, h3 {
    color: #ffffff;
    font-family: "Orbitron";
    font-size: 3rem;
}

h1 {
    animation-delay: 1s;
}

h2 {
    animation-delay: 2s;
}

h3 {
    animation-delay: 3s;
}

